<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" threshold="null" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- Pattern to output the caller's file name and line number -->
            <param name="ConversionPattern" value="%5p [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>
    
    	<!-- Log ONLY THE ERRORS to a daily-rolling File with an HtmlLayout -->
	<appender class="jaf.common.logging.PoliJRollingFileAppender" name="FILE_LOGGER">
  		<param name="File" value="logs/start.html"/>
  		<param name="DatePattern" value="'.'yyyy_MM_dd_HH_mm_ss'.html'"/>
  		<param name="Append" value="false"/>
 		<param name="BufferedIO" value="false"/>
 		<param name="MaxFileSize" value="5MB"/>
	  	<layout class="jaf.common.logging.PoliJHTMLLayout"> 
	    	<param name="Title" value="Jaf2 Error Log"/>
		 </layout>
	</appender>
	
	<category additivity="true" name="it">
        <priority value="DEBUG"/>
        <appender-ref ref="FILE_LOGGER"/>
    </category>

    <root>
        <priority value="debug"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="FILE_LOGGER"/>
    </root>

</log4j:configuration>